<body>
  <header>
    <nav class="navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
      </span>
      <a href="/inscription" class="inscription">S'incrire</a>
      <ul class="main-nav" id="js-menu">
        <li>
          <a <% if (page === 'Accueil') { %>class="test" <% } %> href="/" class="nav-links">Capétiens</a>
        </li>
        <li>
          <a <% if (page === 'Hugues-capet') { %>class="test" <% } %> href="/hugues-capet" class="nav-links">Hugues Capet</a>
        </li>
        <li>
          <a <% if (page === 'louisIX') { %>class="test" <% } %> href="/louisIX" class="nav-links">Louis IX</a>
        </li>
        <li>
          <a <% if (page === 'philippe-le-bel') { %>class="test" <% } %> href="/philippe-le-bel" class="nav-links">Philippe Le Bel</a>
        </li>
        <li>
          <a <% if (page === 'philippe-auguste') { %>class="test" <% } %> href="/philippe-auguste" class="nav-links">Philippe Auguste</a>
        </li>
      </ul>
    </nav>
  </header>

  <main></main>
</body>
