<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Capetiens | <%= page %></title>
    <link rel="icon" href="./images/favicon.png" />
    <script src="https://kit.fontawesome.com/d0c569070e.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Francois+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin+Condensed&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
</html>
