/*-----------------------------------------------------------------------------------------------------------------------------------------------
*                                                   RESET CSS
------------------------------------------------------------------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------
*                                                   PARAM GENERAUX
*------------------------------------------------------------------------------------------------------------------------------------------------*/

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

h1,
h2 {
  text-transform: uppercase;
}

h3,
h4,
h5 {
  text-transform: capitalize;
}

p {
  font-family: "Frank Ruhl Libre", serif;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
*                                                  DEBUT HEADER
------------------------------------------------------------------------------------------------------------------------------------------------*/
header {
  overflow-x: hidden;
  padding-bottom: 40px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------
                                                  NAV RESPONSIVE
------------------------------------------------------------------------------------------------------------------------------------------------*/
.navbar {
  font-size: 1.5rem;
  background: #09335a;
  padding-bottom: 0.1rem;
  height: 69px;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

.main-nav {
  padding: 10px;
  margin-top: 20px;
  display: none;
}

.nav-links,
.inscription {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.inscription {
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 1.2rem;
  margin-top: 1.2rem;
}

.navbar-toggle {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  color: #fff;
}
.navbar-toggle > i {
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

.test {
  padding: 10px;
  border-radius: 5px;
  background: #e74c3c;
  color: #fff;
  transition: 0.5s;
}

.active {
  display: block;
}

.primaryhead {
  position: absolute;
  top: 50%;
  left: 50%;
}

.primaryhead > h2 {
  font-size: 2.3rem;
  line-height: 1.4;
  color: white;
  font-weight: bolder;
}

.horloge {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  font-weight: 700;
  font-size: 2rem;
}
#hex-color {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------
*                                                  END HEADER&NAV
------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------
*                                                   DEBUT MAIN
------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
  background: rgb(255, 253, 221);
}

main {
  max-width: 70vw;
  overflow-x: hidden;
  margin: 0 auto;
}

/* HUGUES CAPET */
.huguesCapet {
  width: 100%;
  text-align: center;
  padding: 3rem;
}

h2,
span,
i {
  padding: 10px;
  line-height: 1.5;
}

.couronne {
  color: red;
  font-size: 1.3rem;
  padding-right: 15px;
}

.croix {
  color: rgb(110, 65, 35);
  font-size: 1.3rem;
}

.tempRoi,
.tempMort {
  font-size: 1.6rem;
}
.titleKing {
  font-size: 1.8rem;
  color: rgb(236, 181, 0);
  font-family: "Francois One", sans-serif;
  text-transform: capitalize;
}

.pHuguesCapet {
  margin-top: 2rem;
}

.roimg {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border: 9px solid rgb(236, 181, 0);
}

h3 {
  color: #105291;
  margin: 30px 0;
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.3rem;
  line-height: 1.6;
  text-justify: auto;
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 700;
}

.hover {
  margin: 1.6rem;
  padding: 1.6rem;
}

.hover:hover {
  background: #fff;
  border-radius: 20%;
  transition: 0.5s;
}

.container-slide-form {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

/* SLIDER */
.slideshow-container {
  margin-top: 10vh;
  width: 65%;
  height: 600px;
  position: relative;
}

.mySlides {
  display: none;
  height: 100%;
  border: solid 1px black;
}

.imgSlide {
  height: 100%;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 3px 3px 3px;
}

.prev {
  left: 0;
  border-radius: 3px 3px 3px 3px;
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #222428;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* FORMULAIRE */
.form-wrap {
  margin: 0 auto;
  background: rgb(163, 170, 235);
  padding: 15px 25px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 50%;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding: 10px;
  font-weight: bolder;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}

.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #49c1a2;
  color: #fff;
  cursor: pointer;
}

.form-wrap button:hover {
  background: #37a08e;
}

.form-wrap .bottom-text {
  font-size: 0.9rem;
  margin-top: 20px;
}

.success {
  border: 2px solid green;
  background: green;
  font-weight: bolder;
  color: #fff;
}

.danger {
  padding-left: 2rem;
  margin-top: 10px;
  background: rgb(172, 65, 65);
  font-weight: bolder;
  color: #fff;
}
/* FOOTER */

footer {
  height: 75px;
  background: #09335a;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------
                                                NAV full ecran                                                                                        
-------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 835px) {
  /* NAV FULL ECRAN */
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    align-items: center;
    margin-right: 1.4rem;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin-bottom: 2rem;
  }

  .nav-links {
    color: #fff;
    margin-left: 25px;
    padding: 7px;
    border-radius: 25px;
    font-weight: bolder;
    transition: 0.5s;
  }

  .inscription {
    margin-top: 0;
  }

  .inscription:hover {
    background: #e74c3c;
    color: #fff;
    border-radius: 20%;
    transition: 0.5s;
    padding: 5px;
  }

  .navbar-toggle {
    display: none;
  }

  .test {
    background: #e74c3c;
    color: #fff;
    transition: 0.5s;
    margin-left: 25px;
  }
}

@media screen and (max-width: 768px) {
  main {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
  }

  .huguesCapet {
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  .form-wrap {
    width: 80%;
  }

  .slideshow-container {
    height: 500px;
  }
}
