<% include partials/head %>
<% include partials/header %>

    <section class="huguesCapet">
      <article class="intro">
        <h2 class="titleKing">Hugues Capet</h2>

        <p class="tempMort">
          <i class="fas fa-cross croix">&nbsp;941 - 24 octobre 996</p></i> <br />

        <p class="tempRoi"><i class="fas fa-crown couronne">&nbsp;3 juillet 987 – 24 octobre 996</p></i>

        <img src="./images/huguescapet3.jpg" alt="Hugues Capet" class="roimg" />

        <div class="hover">
        <h3>Introduction</h3>
        <p>
          Hugues Capet, né vers 941 à Dourdan et mort en 996 à Prasville
          (Eure-et-Loir), est un roi de France qui a régné de 987 à 996.<br><br> Il est
          le fondateur de la dynastie royale des Capétiens qui régna sans
          interruption sur la France jusqu'en 1792 et qui, au XIXe siècle,
          fournit encore trois rois. Son surnom « Capet » ne lui est donné qu'un
          siècle après sa mort.<br><br> Il le doit au manteau (ou cape) de saint Martin
          l'un des grands saints protecteurs du royaume de France, conservé dans
          l'abbaye de Saint-Martin de Tours où Hugues était abbé. Il se fait
          élire roi de France par les grands seigneurs du royaume et il est
          sacré par l'évêque de Reims.
        </p>
        </div>
      </article>

      <div class="hover">
      <article>
          <h3>sa famille</h3>
          <p>
            Il appartient à une grande famille de la noblesse franque qui avait fourni trois rois de France au IXe siècle et au
            début du Xe siècle.<br><br>
            Il est le fils d' Hugues le Grand qui est duc de France (en fait l'Île-de-France). Sa mère, Havoie de Saxe, est la nièce
            de l'empereur Otton Ier qui vient de créer le Saint Empire romain germanique. Hugues Capet est marié à la fille du comte
            de Poitiers. Son frère Henri, est roi de Bourgogne. Le duc de Normandie et le duc d'Aquitaine sont ses beaux-frères.
          </p>
          </div>
      </article>
      
      <div class="hover">
      <article>
          <h3>son sacre</h3>
          <p>
            Sa candidature au trône des Francs est soutenue par l'archevêque de Reims Adalbéron et par le conseiller de ce dernier
            Gerbert (futur pape Sylvestre II). Le Ier juin 987, à Noyon, il est élu roi par les grands seigneurs francs (il sera
            sacré le 1er juillet suivant).<br><br> Ceux-ci le préfèrent à Charles de Lorraine, un carolingien oncle du dernier roi Louis V
            de France. Hugues Capet leur semblait le moins dangereux des candidats (il n'avait qu'un petit territoire1 éparpillé
            autour de Paris).<br><br>
            
            De plus il bénéficie d'un grand prestige familial (voir plus haut). Les grands seigneurs francs pensent que le roi, leur
            suzerain théorique, se contentera d'un rôle d'arbitre entre eux, qu'il n'interviendra pas dans leurs domaines et
            n'essaiera pas de changer les coutumes existantes.<br><br>
            
            Pendant son court règne, il favorise l'Église catholique et fait couronner et sacrer dès 987 son fils aîné Robert,
            assurant ainsi la transmission héréditaire de la couronne de France dans sa descendance.
          </p>
          </div>
      </article>
    </section>

    <% include partials/footer %>

