<% include partials/head %>
<% include partials/header %>

<section class="huguesCapet">
  <article class="intro">
    <h2 class="titleKing">Les capétiens</h2>

    <p class="tempMort">
      <i class="fas fa-cross croix">&nbsp;987 à 1848</p></i> <br />

    <img src="./images/slide1.jpg" alt="Hugues Capet" class="roimg" />

    <div class="hover">
    <h3>Les diverses branches de la famille</h3>

    <p>
      La famille des Capétiens, d'origine française, fournit au cours de sa très longue histoire et de ses nombreuses
      ramifications des souverains à plusieurs pays :
      
      en France de 987 à 1848 avec l'interruption de 1792 à 1815 (Révolution française et Premier Empire)<br><br>
      en Espagne, avec sa branche des Bourbons de 1701 à aujourd'hui (avec quelques interruptions de 1808 à 1814 et de 1931 à
      1975)<br><br>
      à Naples (1759-1860) et Parme (1748-1802/1848-1859) en Italie avec des branches issues des Bourbons d'Espagne<br><br>
      à l'Empire latin de Constantinople de 1221 à 1273, avec la branche de Courtenay issue de Pierre de France, septième fils
      du roi Louis VI<br><br>
      au Comté d'Édesse (en Syrie actuelle), de 1119 à 1150 (avec une branche des Courtenay).
    </p>
  </article>
</div>
  <article>
    <div class="hover">
    <h3>Origine de la dynastie</h3>
    <p>
      La dynastie porte le nom d'Hugues Capet, duc de France, élu roi par les seigneurs francs en 987. Mais des ancêtres
      d'Hugues Capet avaient été rois des Francs avant lui. Eudes, roi de 888 à 898 et Robert Ier, roi en 922-923, tous deux,
      fils du duc Robert le Fort.<br><br>

      Au départ les Capétiens n'étaient que des petits seigneurs francs. Leurs possessions étaient éparpillées en Ile de
      France, pendant longtemps leur autorité était contestée dans leurs propres domaines par des vassaux autant puissants
      qu'eux. Élus rois en 987, ils assurèrent l'hérédité de la couronne dans leur famille, en faisant élire et sacrer roi le
      fils aîné alors que le père vivait encore (cette pratique cessa avec Philippe II). Les premiers capétiens de
      constitution physique solide eurent la chance de régner longtemps (souvent plus que le temps d'une génération humaine de
      l'époque) ce qui espaçait les moments délicats des successions. Ils eurent la chance de toujours avoir un fils pouvant
      hériter de la couronne.<br><br>

      En 987, ils disposaient d'un territoire beaucoup plus petit que celui dont disposaient chacun des autres grands féodaux
      (comme le duc d'Aquitaine, le comte de Toulouse, le duc de Bretagne...) Ils surent agrandir patiemment leurs domaines
      par une politique d'achat de seigneurie, de mariage avec des héritières riches en seigneuries, d'héritages de cousins et
      même en utilisant leurs droits de suzerains à confisquer les fiefs des vassaux déclarés félons. Ils parvinrent ainsi à
      éliminer ou à réduire à l'obéissance les grands féodaux. Au xve siècle, les Capétiens étaient quasiment maîtres de tout
      leur royaume.<br><br>

      Ce n'est qu'à partir du xive siècle qu'ils commencèrent à franchir les anciennes frontières du royaume qui à l'époque
      correspondaient au tracé la Meuse, de la Saône et du Rhône) et qu'ils achètent, échangent ou conquièrent des territoires
      qu'ils annexent au royaume pour constituer approximativement ce qui est la France actuelle (sauf la Savoie et Nice).
    </p>
  </article>
</div>
</section>


<% include partials/footer %>
