<% include partials/head %>
<% include partials/header %>

<div class="container-slide-form">
<div class="slideshow-container">

    <div class="mySlides fade">
        <img src='./images/louisix.jpg' class="imgSlide" alt="Louis IX" />
    </div>

    <div class="mySlides fade">
        <img src='./images/philippeauguste.jpg' class="imgSlide" alt="Philippe Auguste" />
    </div>

    <div class="mySlides fade">
        <img src='./images/huguescapet3.jpg' class="imgSlide" alt="Hugues Capet" />
    </div>

    <div class="mySlides fade">
        <img src='./images/king.jpg' class="imgSlide" alt="King" />
    </div>

    <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
    <a class="next" onclick='plusSlides(1)'>&#10095;</a>
</div>

</div>

<div class="form-wrap">

<form action="/inscription" method="POST" id="myForm" onsubmit="return checkForm()">
    <div class="form-group">
        <label for="last-name">Nom</label>
        <input type="text" name="lastname" id="last-name" />
        <p id="msg-form-1"></p>
    </div>

    <div class="form-group">
        <label for="first-name">Prenom</label>
        <input type="text" name="firstname" id="first-name" />
        <p id="msg-form-2"></p>
    </div>

    <div class="form-group">
        <label for="birthdate">Date de naissance</label>
        <input type="date" name="birthdate" id="birthdate" />
        <p id="msg-form-3"></p>
    </div>

    <div class="form-group">
        <label for="address">Adresse</label>
        <input type="text" name="address" id="address" />
        <p id="msg-form-4"></p>
    </div>

    <div class="form-group">
        <label for="zip">Code Postal</label>
        <input type="number" name="zip" id="zip" inputmode="numeric" />
        <p id="msg-form-5"></p>
    </div>

    <div class="form-group">
        <label for="city">Ville</label>
        <input type="text" name="city" id="city" />
        <p id="msg-form-6"></p>
    </div>
    
    <div class="form-group">
        <label for="mail">Email</label>
        <input type="email" name="mail" id="mail" />
        <p id="msg-form-7"></p>
    </div>
    
    <div class="form-group">
        <label for="phone">Telephone</label>
        <input type="tel" name="phone" id="phone" inputmode="numeric" />
        <p id="msg-form-8"></p>
    </div>
    
    <button type="submit" class="btn" id="btn-form">Envoyer</button>
</form>
</div>

</div>
<% include partials/footer %>
