<% include partials/head %>
<% include partials/header %>

    <section class="huguesCapet">
      <article class="intro">
        <h2 class="titleKing">Louis IX</h2>
        <i class="fas fa-cross croix"
          ><span class="tempMort">1214 - 1270 Tunis</span></i
        ><br />
        <i class="fas fa-crown couronne"
          ><span class="tempRoi">1226 – 1270</span></i
        >
        <img src="./images/louisix.jpg" alt="louisIX" class="roimg" />
        <div class="hover">
        <h3>Introduction</h3>
        <p>
          Louis IX ou saint Louis est un roi de France du Moyen Âge. Né à Poissy
          en 1214, il décède à Tunis en 1270. Il est le fils de Louis VIII et de
          Blanche de Castille.<br /><br />
          Il a régné de 1226 à 1270. Devenu majeur, le roi cherche l'accord avec
          ses voisins et les grands seigneurs, en particulier le roi
          d'Angleterre. À l'intérieur du pays, il impose sa monnaie, ses lois et
          sa justice dans le royaume. Chrétien très croyant, il participe à deux
          croisades.
        </p>
      </article>
    </div>
      <div class="hover">
      <article>
        <h3>Débuts du règne</h3>
        <p>
          Louis IX devient roi à 12 ans.<br><br> 
          
          Le gouvernement est confié à sa mère,
          Blanche de Castille, qui devient régente.<br><br>
          
          Elle fait face avec succès à
          la révolte des grands seigneurs : Pierre Mauclerc, duc de Bretagne et
          Philippe Hurepel, comte de Boulogne, qui tentaient de retrouver la
          liberté vis-à-vis du pouvoir royal.<br><br>
          
          La régente met fin à la guerre
          contre les Albigeois en 1229.<br><br>
          
          En 1234 elle marie le roi à Marguerite
          de Provence fille du comte Raymond Béranger IV (à l'époque la Provence
          était en dehors du royaume de France).<br><br>
          
          Ils auront onze enfants (dont
          Robert de Clermont l'ancêtre des Bourbons). En 1242, Louis IX doit
          faire face à une révolte des seigneurs aquitains soutenus par le roi
          d'Angleterre Henri III qui est battu à Saintes.
        </p>
      </article>
      </div>
      <article>
        <div class="hover">
        <h3>Affirmation de l'autorité royale dans le royaume</h3>
        <p>
        Louis IX réussit à imposer sa monnaie dans tout le royaume de France.<br><br>
        
        Il fait appliquer ses ordonnances par les baillis et les sénéchaux.<br><br>
        
        Il tente de limiter les guerres entre seigneurs en interdisant les tournois, les guerres privées et les duels
        judiciaires.<br><br>
        
        Enfin, Louis IX met en place la possibilité de contester devant la justice royale une décision prise par un seigneur
        local : c'est la naissance du parlement de Paris.
        </p>
      </article>
    </div>
        <article>
            <div class="hover">
                <h3>Un roi très catholique</h3>
                <p>
                Des penseurs chrétiens comme Thomas d'Aquin ou Albert le Grand enseignent en France, et le pays jouit alors d'un grand
                prestige intellectuel.<br><br>
                
                Louis IX persécute les juifs du royaume et instaure l'Inquisition.<br><br>
                
                Il participe à deux croisades :
                
                La septième croisade démarre en 1248. Le roi, les seigneurs et tous les croisés partent d'Aigues-Mortes. Ils s'arrêtent
                à Chypre. Puis ils gagnent Damiette en Égypte. Le roi est fait prisonnier, en même temps qu'Étienne Boileau.<br><br>
                
                Il est libéré contre une rançon d'argent. Mais il reste quatre années en « Terre Sainte » où il réorganise le système
                défensif. En France, la révolte des pastoureaux provoque des rassemblements pour un départ en croisade des bergers et
                des pauvres.<br><br>
                
                Le roi commence la huitième croisade en 1270. Les croisés partent aussi d'Aigues-Mortes et s'arrêtent en Sardaigne. Ils
                arrivent à Tunis et mettent le siège autour de la ville. Le roi meurt certainement d'une maladie proche de la peste, la
                dysenterie.
                </p>
        </article>
        </div>
    </section>

<% include partials/footer %>

