<% include partials/head %>
<% include partials/header %>

    <section class="huguesCapet">
        <article class="intro">
            <h2 class="titleKing">Philippe Auguste</h2>
            <i class="fas fa-cross croix"><span class="tempMort">Paris 1165 - Mantes 1223</span></i><br />
            <i class="fas fa-crown couronne"><span class="tempRoi">1180 – 1223</span></i>
            <img src="./images/philippeauguste.jpg" alt="Philippe-Auguste" class="roimg" />
            <div class="hover">
                <h3>Problèmes avec l'Église catholique</h3>
                <p>
                    Philippe Auguste se maria trois fois. Sa première femme Isabelle, fille de Baudouin V, comte de Hainaut, lui apporte en
                    dot la province de l'Artois ; ils eurent un fils, le futur Louis VIII.<br><br>
                    
                    Mais Isabelle meurt en 1190. Philippe II épouse
                    en 1193, Ingeburge, sœur de Canut IV, roi de Danemark, mais il la répudie dès le lendemain pour épouser peu après Agnès
                    de Méranie. Le pape Innocent III excommunie (L'excommunié est chassé de la communauté, n'importe qui peut l'attaquer et
                    lui prendre ses biens) le roi et frappe le royaume d'interdit (Plus aucun acte religieux ne peut être fait).<br><br>
                    
                    Philippe
                    Auguste doit céder et en 1200 reprend pour épouse Ingeburge, mais la maintient en captivité jusqu'en 1213.
                </p>
        </article>
        </div>
        <div class="hover">
            <article>
                <h3>La lutte contre les Plantagenêts</h3>
                <p>
                Philippe II est le dernier roi capétien à avoir été sacré du vivant de son père. Il passe la plus grande partie de son
                règne à lutter contre la famille des Plantagenêts dont les énormes possessions en France étaient une menace pour le
                pouvoir royal.<br><br>
                
                Il soutient la révolte de Richard Cœur de Lion contre son père Henri II Plantagenêt, puis les intrigues
                de Jean sans Terre contre son frère Richard.<br><br>
                
                Il participe à la troisième croisade (1191) en compagnie de Richard Cœur de
                Lion, l'abandonne pour rentrer en France afin d'attaquer les possessions de Richard.<br><br>
                
                Philippe II suggère à l'empereur
                allemand de s'emparer, en Autriche, de Richard sur le chemin de retour. Libéré, ce dernier reprend victorieusement la
                lutte et Philippe II n'est sauvé du désastre que par la mort inattendue de Richard en 1199.<br><br>
                
                Philippe s'en prend alors à Jean sans Terre frère et successeur de Richard.<br><br>
                
                Philippe profite d'une querelle entre Jean
                sans Terre et une puissante famille française du Poitou : devant le refus de Jean sans Terre de se présenter devant son
                suzerain Philippe celui-ci lui confisque en 1202 la Normandie, le Maine, la Touraine et l'Anjou.<br><br>
                
                Jean sans Terre ayant
                réussi à former une coalition, le prince Louis bat le roi d'Angleterre en Anjou tandis que le roi Philippe II bat les
                alliés des Anglais, l'empereur allemand Otton IV de Brunswick, le comte Ferrand de Flandres, Renaud comte de Boulogne et
                Henri duc de Brabant à la bataille de Bouvines (1214).<br><br>
                
                À l'issue de cette lutte, Philippe II agrandit le domaine royal de la Normandie, du Maine, de l'Anjou, de la Touraine et
                de la Saintonge. Par son mariage, il devient maître de l'Artois. Il obtient également l'Auvergne et de grandes
                seigneuries en Picardie.
                </p>
            </article>
        </div>
        <article>
            <div class="hover">
                <h3>La réorganisation de l'administration royale</h3>
                <p>
                    Le roi de France de l'époque a pour unique revenu les impôts qu'il perçoit sur les paysans et les habitants de villes de
                    son domaine personnel (le domaine royal).<br><br>
                    
                    Philippe II organise l'administration du domaine royal désormais agrandi en y
                    installant des baillis (ou sénéchaux dans l'ouest et le sud) qui le représentaient sur place (comme les préfets
                    d'aujourd'hui). Ils sont nommés par le roi et s'occupent de la justice, des finances et de l'armée royale dans leur
                    région.<br><br>
                    
                    Au niveau du gouvernement central, il supprime la fonction de sénéchal et répartit ses attributions entre le connétable
                    responsable de l'armée royale, le chancelier, responsable de la justice royale et garde du sceau royal.<br><br>
                    
                    Philippe II favorise le mouvement des communes qui luttaient contre leurs seigneurs pour obtenir leur liberté.<br><br>
                    
                    En fixant le trésor et les archives royales à Paris, le roi fait réellement de cette ville la capitale du royaume. Il
                    assure la sécurité des 120 000 habitants en faisant construire la forteresse du Louvre et une nouvelle enceinte pour
                    protéger Paris. Il fait paver les rues.<br><br>
                    
                    Enfin, il regroupe les écoles de la capitale et fonde l'université en 1200.
                </p>
        </article>
        </div>
    </section>

<% include partials/footer %>
