<% include partials/head %>
<% include partials/header %>

    <section class="huguesCapet">
        <article class="intro">
            <h2 class="titleKing">Philippe IV le Bel</h2>
            <i class="fas fa-cross croix"><span class="tempMort">1268 - 1314</span></i><br />
            <i class="fas fa-crown couronne"><span class="tempRoi">1285 – 1314</span></i>
            <img src="./images/philippelebel.jpg" alt="Philippe-le-Bel" class="roimg" />
            <div class="hover">
                <h3>Jeunesse</h3>
                <p>
                    À sa naissance en 1268, Philippe le Bel n'était pas destiné à devenir roi de France car il avait un frère aîné, Louis.
                    Mais celui-ci est mort jeune (à l'âge de 12 ans) en 1276. C'est donc Philippe le Bel qui est devenu roi de France en
                    1285, après la mort de son père Philippe III.
                </p>
        </article>
        </div>
        <div class="hover">
            <article>
                <h3>Un roi autoritaire</h3>
                <p>
                    S'appuyant sur des hommes de loi spécialistes du droit romain (les légistes), il affirme la supériorité du pouvoir royal
                    sur toutes les autres formes de pouvoirs qui existaient jusque-là dans le royaume. Ses principaux conseillers sont
                    Guillaume de Nogaret et Enguerrand de Marigny. Le gouvernement royal est organisé en section spécialisées (le Parlement
                    de Paris pour les affaires judiciaires et les sections financières).<br><br>
                    
                    Pour faire face à ses difficultés financières, il essaya sans succès d'établir des impôts royaux permanents. Aussi, il
                    s'en prit aux juifs et aux banquiers (les Lombards) dont il confisqua les biens avant de les bannir.<br><br>
                    
                    Il tenta et réussit en partie de s'emparer des richesses accumulées par les moines-soldats : les templiers, qui a Paris
                    étaient les gardiens du trésor royal. Le roi fait arrêter les chefs templiers en 1307, obtient du pape Clément V la
                    dissolution de l'Ordre et après un procès fait exécuter les chefs templiers prisonniers (1314).<br><br>
                    
                    Philippe IV pratiqua aussi des manipulations monétaires afin de disposer de plus de moyens financiers en baissant le
                    contenu en métal précieux des monnaies.<br><br>
                    
                    La crise économique qui sévit en Europe au début du XIVe siècle, provoque des révoltes qui sont durement réprimées comme
                    en 1306.<br><br>
                    
                    Il mit fin, provisoirement, aux conflits nombreux en Aquitaine avec le roi d'Angleterre (seigneur d'une grande partie de
                    l'Aquitaine) en mariant sa fille Isabelle avec l'héritier du trône anglais Édouard II (sans le vouloir il met ainsi en
                    place une des causes de la guerre de Cent Ans).
                </p>
            </article>
        </div>
        <article>
            <div class="hover">
                <h3>L'agrandissement du domaine royal et du royaume</h3>
                <p>
                Par son mariage avec Jeanne Ière de Navarre, héritière de la Champagne et du royaume de Navarre, il prépare
                l'agrandissement du domaine royal.<br>
                
                Il tenta d'annexer le comté de Flandres au domaine royal. Les flamands révoltés massacrent les Français à Bruges et
                battent l'armée royale à Courtrai en 1302. Ils sont battus à Mons-en-Pévèle en 1304. Il réussit cependant à s'emparer de
                Lille, Douai et Béthune en 1305. Les Flamands en gardèrent rancune et se tournèrent plus volontiers vers les Anglais
                avec lesquels ils sont en affaires pour le commerce de la laine (ce fut une autre cause de la guerre de Cent Ans).<br>
                
                En 1312, le royaume de France s'agrandit de Lyon et de sa région.
                </p>
        </article>
        </div>
        <article>
            <div class="hover">
                <h3>La lutte contre le pape Boniface VII</h3>
                <p>
                Il lutta contre l'influence du pape sur l'organisation de l'Église catholique dans le royaume. En 1305, il fait enlever
                et garda en captivité le pape Boniface VII et il imposa, en 1305, l'élection de Clément V un pape d'origine française.
                Pour obtenir l'appui des Français dans sa lutte contre le pape, il convoqua en 1302 les premiers États généraux.<br>
                
                Il est aujourd'hui enterré dans la basilique Saint-Denis, en banlieue parisienne, où on peut voir son gisant.<br>
                
                Il a épousé Jeanne de Champagne, reine de Navarre, et est le père des rois de France : Louis X le Hutin, Philippe V de
                France et Charles IV de France qui se succèdent de 1314 à 1328. Il est le grand-père du roi Édouard III d'Angleterre.<br>
                </p>
        </article>
        </div>
    </section>

<% include partials/footer %>
